<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>React Rule Builder</title>
    </head>
    <body>
      <h1>Live Demo of React Rule Builder</h1>
      <h2>What to do</h2>
      <ol>
        <li>Choose a variable</li>
        <li>Choose an operator</li>
        <li>Specify an operand</li>
        <li>Add a new condition</li>
        <li>When all conditions are specified, click on "Then" to specify the response action</li>
      </ol>
        <div id="root"></div>

        <!-- Dependencies -->
        
    </body>
</html>
